body {
    background-color: #202020;
    color: #f0f0f0;
}

h1 {
    background: linear-gradient(141deg, #202020 0%, #303030 51%, #404040 75%);
    color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: center;
    margin: 8px 0;
}

.navbar {
    background-color: #222;
    border-color: #333;
}

.navbar-brand {
    color: #ddd;
    padding-left: 10px;
}

.nav-item.active .nav-link {
    color: #fff;
    background-color: #333;
    border-color: #444;
}

.nav-link {
    color: #ddd;
}